@use '../../../styles/scss/utils/variables/colors' as *;
@use '../../../styles/scss/utils/mixin/typography' as *;
.empty-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  & > .empty-image {
    min-width: 224px;
    max-width: 424px;
    overflow: hidden;
    & > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  & > .empty-text {
    text-align: center;
    @include typography_BVNPro-desktop-h4;
    color: $satinDeepBlack-tints-400;
  }
}
