@use '../../styles/scss/flex-grid' as *;
@use '../../styles/scss/utils/variables/colors' as *;
@use '../../styles/scss/utils/mixin/typography' as *;
.container-solution-list-page {
  & > .header {
    margin-bottom: 32px;
    @include flex(row, space-between);
    & > .title {
      @include typography_BVNPro-desktop-h4;
    }
  }
  & > .solution-list {
    @include grid(12, none, 24px);
    &.empty {
      @include flex-row(none, center, center);
    }

    & .cols {
      grid-column: span 3;
      width: 100%;
      @include flex-column(24px, flex-start, stretch);
    }
  }
}
